@import '_variables';
@import 'normalize';

.container{
    width: $container-width;
    margin: auto;
}

label{
    color: #000000;
    font-size: 13px;
    font-weight: 100;
}

button{
    background-color: $blue;
    color: #FFFFFF;
    width: 80px;
    height: 40px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    border: 1px solid #2c2c2c;
    border-radius: 5px;
}

h2{
    color: #000000;
}

input{
    height: 35px;
    border-radius: 3px;
    border: 1px solid #d3d3d3;
    font-size: 14px;
    padding: 7px;
}